@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
.head{
    font-size: 50px; 
 
  font-family: "Merienda", serif;
}
.title{
    color:#613d3d;
}
.Detials:hover{
    background-color: #2c3e50 !important;
    color: white;
}